html {
    height: 100% !important;
}

body{
  background-color:rgb(46, 40, 40)
}

.card_game{
    padding:55px;
    background-image: linear-gradient(to left bottom, #24211d, #3b3535);
}

.row{
    margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 25px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/*cartas*/
.card {
  background-color: transparent;
  width: 180px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,56,245,1) 0%, rgba(40,173,200,1) 70%);
  color: white;
}

.flipped{
  pointer-events: none;
  transition: 0.5s;
  width: 180px;
  height: 250px;
  transform: rotateY(180deg);
  background-color: black;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flipped img{
  width: 100%;
  height: auto;
  display: centered;
}

.paired {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  pointer-events: none;
  width: 180px;
  height: 250px;
  background-color: grey;
  border: 3px solid greenyellow;
}

.paired img{
  width: 100%;
  height: auto;
  display: centered;
}

/*stats*/

.moves{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:whitesmoke;
}

.timer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:whitesmoke;
}

.final{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 66px;
    color:greenyellow;
}